In [1]:
import pandas as pd
import numpy as np
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

## Read users

In [2]:
users = pd.read_csv("user_coordinates.csv",)

In [3]:
users

   user_id    loc_lat    loc_lon
0        1  55.737564  37.345186
1        2  56.234564  37.234590
2        3  55.234578  36.295745

## Read coords

In [4]:
coo = pd.read_csv("place_zone_coordinates.csv")

In [5]:
coo

   place_id    loc_lat    loc_lon  point_number
0         1  55.747022  37.787073             0
1         1  55.751713  37.784328             1
2         1  55.753878  37.777638             2
3         1  55.751031  37.779351             3
4         2  55.803885  37.458311             0
5         2  55.808677  37.464054             1
6         2  55.809763  37.461314             2
7         2  55.810840  37.458654             3

## create POL

In [6]:
shops = {}
for i in coo.place_id.unique():
    ncoo = coo[coo["place_id"]==i].sort_values(by=['point_number'])
    shops[i]=Polygon(list(zip(ncoo.loc_lat,ncoo.loc_lon)))

In [7]:
shops

{1: <shapely.geometry.polygon.Polygon at 0x7f04bfac5dd0>,
 2: <shapely.geometry.polygon.Polygon at 0x7f04bfac5f50>}

## iter users

In [8]:
result = []
for Id,uLat,uLon in list(zip(users.user_id,users.loc_lat,users.loc_lon)):
    accept_shops = []
    point = Point(uLat,uLon)
    for i in shops.keys():
        print(Id,uLat,uLon," SHOP - ",i," ",shops[i].contains(point))
        if shops[i].contains(point):
            accept_shops.append(i)
    result.append((Id,len(accept_shops)))

1 55.737564 37.345186  SHOP -  1   False
1 55.737564 37.345186  SHOP -  2   False
2 56.234564 37.234590000000004  SHOP -  1   False
2 56.234564 37.234590000000004  SHOP -  2   False
3 55.234578000000006 36.295745000000004  SHOP -  1   False
3 55.234578000000006 36.295745000000004  SHOP -  2   False

# answer

In [9]:
result

[(1, 0), (2, 0), (3, 0)]

In [10]:
df = pd.DataFrame(result,columns=["CLIENT_ID","COUNT_OF_INCLUDINGS"])

In [11]:
df

   CLIENT_ID  COUNT_OF_INCLUDINGS
0          1                    0
1          2                    0
2          3                    0